<app-header>Input page</app-header>

<app-content>
    <form>
        <div class="form-group">
            <label>Fill text field</label>
            <input type="text" class="form-control" ng-model='vm.inputValue' class="text-field-type1" />
            <br/>
            you typing: <span>{{vm.inputValue}}</span>
        </div>
        <br/>
        <button class='btn btn-primary' ng-click='vm.submit()'>View result</button>
        <button class='btn btn-warning' ng-click='vm.clear()'>Reset</button>
        <br/><br/>

        <label>
            <input ng-model="vm.cb1" type="checkbox"> &nbsp;checkbox example :: {{vm.cb1}}
        </label>

        <!--<br/><br/>-->
        <!--date picker<br/>-->
        <!--<input type="date" ng-model="vm.d1"/><span> choosen date :: {{vm.d1}}</span>-->
    </form>
</app-content>

<app-footer></app-footer>
