<app-content>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                User details
            </h3>

            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="userDetailsForm" novalidate role="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label">First name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{vm.user.firstName}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Last name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{vm.user.lastName}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{vm.user.email}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Age</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{vm.user.age}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-content>