@import "library";
@import "variables";

.whole-content {
  min-height: 80vh;
}

app-header {
  display:block;
  position: relative;
  height: 10vh;

  .page-title {
    position: absolute;
    right: 50px;
    top: 13px;
    color: steelblue;
    font-weight: bold;
    z-index: 1;
  }
}

app-footer {
  text-align:center;
  border-top:1px solid #555;
  display:block;
  height: 10vh;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}