<div class="modal-header">
    <h3 class="modal-title">{{vm.isCreateModal ? 'Create' : 'Edit'}} user</h3>
</div>
<div class="modal-body">
    <form name="userCreateEditForm" novalidate role="form">
        <div class="form-group row">
            <div class="col-md-12">
                <label>First Name</label>
                <input autofocus class="form-control" ng-maxlength="64" ng-minlength="3" name="firstName"
                       ng-model="vm.user.firstName" placeholder="First Name" required type="text"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label>Last Name</label>
                <input autofocus class="form-control" ng-maxlength="64" ng-minlength="3" name="lastName"
                       ng-model="vm.user.lastName" placeholder="Last Name" required type="text"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label>Age</label>
                <input autofocus class="form-control" min="0" max="99" name="age"
                       ng-model="vm.user.age" placeholder="Age" required type="text"/>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-12">
                <label>Email</label>
                <input autofocus class="form-control" name="email"
                       ng-model="vm.user.email" placeholder="Email" required type="email"/>
            </div>
        </div>

    </form>

</div>

<div class="modal-footer">
    <div class="btn btn-default" ng-click="vm.cancelButtonHandler()" type="button">Cancel</div>
    <div class="btn btn-primary" ng-click="vm.okButtonHandler(userCreateEditForm)" type="button">OK</div>
</div>